
<div>
    <div>
        <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">
        
        <h3>THÔNG BÁO</h3>
            <i class="fa fa-bell"></i>
            <p class="r3 px-md-5 px-sm-1">Đơn hàng thanh toán {{message}}!</p>
    
            <div class="text-center mb-3"> 
                <form action="/" method="post">
                    <button type="submit" class="btn btn-primary w-50 rounded-pill b1">Quay về trang chủ</button> </div>
                </form>
                
            
        </div>
    </div>
</div>